/out/
cache/
typechain/
node_modules/
.env
.env.goerli
remappings.txt
broadcast/
src/test/sim/in/*.json
src/test/sim/out/*.json
src/test/sim/sims/*.t.sol
secret.txt
./deploy.py
.secret
/out/**
typechain/**
out/**/*.json
typechain/**/*.ts
notes.txt

