[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
	branch = main
[submodule "lib/solidity-examples"]
	path = lib/solidity-examples
	url = https://github.com/LayerZero-Labs/solidity-examples
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	branch = release-v4.8
[submodule "lib/clones-with-immutable-args"]
	path = lib/clones-with-immutable-args
	url = https://github.com/wighawag/clones-with-immutable-args
[submodule "lib/uniswap-v3-core"]
	path = lib/uniswap-v3-core
	url = https://github.com/uniswap/v3-core
	branch = 0.8
[submodule "lib/uniswap-v3-periphery"]
	path = lib/uniswap-v3-periphery
	url = https://github.com/uniswap/v3-periphery
	branch = 0.8
[submodule "lib/Cooler"]
	path = lib/Cooler
	url = https://github.com/ohmzeus/Cooler
