# Simulation configuration items

# Setup
KEYS=1000 # Number of sims per seed
EPOCHS=1095 # Number of epochs per sim
EPOCH_DURATION=28800 # 8 hours, Duration of each epoch in seconds
REBALANCE_FREQUENCY=604800 # 7 days, Frequency, in seconds, to rebalance liquidity
MA_DURATION=2592000 # 30 days, duration of moving average in seconds

# Simulation starting values
PRICE=14120000000000000000 # Price of OHM in USD, 18 decimals
MOVING_AVERAGE=14170000000000000000 # 30 DAY MA price, 18 decimals
SUPPLY=25000000000000000 # in OHM, 9 decimals
RESERVES=250000000000000000000000000 # in USD, 18 decimals
LIQUIDITY=25000000000000000000000000 # in USD, 18 decimals

# RBS parameters that are not provided in params.json
CUSHION_DURATION=432000 # 5 days, Cushion duration in seconds
CUSHION_DEBT_BUFFER=100000 # 100%, Percent with 3 decimals, i.e. 1000 = 1%
CUSHION_DEPOSIT_INTERVAL=28800 # 8 hours, Duration of each cushion deposit interval in seconds
REGEN_WAIT=86400 # 1 day, in seconds, time to wait before regenerating reserves. This value will do nothing since the threshold is longer
REGEN_THRESHOLD=18 # Number of positive observations to regenerate wall
REGEN_OBSERVE=21 # Number of observations to make at a time to regenerate wall